* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: linear-gradient(to right, #d2cd54, #6b8d1d, #4a7433); */
  /* background-image: linear-gradient(to top, black, #25372a); */

  background-image: url("./assets/HalpDrop02-DarkBlue.png");
  /* background-color: chartreuse; */
  background-size: 20em;
  background-repeat: repeat;
  color: rgb(248, 254, 217);
  font-weight: 200;
  background-attachment: fixed;
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  font-family: "Share Tech Mono", monospace;
  text-shadow: -1px -1px 10px rgb(24, 24, 24);
  max-width: 100%;

}

h1 {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

h2 {
 
  
  font-size: 0.9rem;
  text-align: center;
}

h3 {
  font-size: 1.3rem;
  line-height: 1.5;
}

h4 {
  line-height: 1.3;
font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
  /* max-width: 30rem; */
  padding-top: 0.3rem;
  padding-bottom: 0.5rem;
  line-height: 1.3;
}

.upload{
  background-color: rgb(240, 255, 255);
  cursor: grabbing;
  
}

.paragraph{
  width: 70%;
  padding-bottom: 5rem;
  text-shadow: -8px -8px 20px rgb(15, 44, 80), 8px 8px 20px rgb(15, 44, 80), -10px 8px 20px rgb(15, 44, 80), 8px -10px 20px rgb(15, 44, 80) ;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: rgba(15, 44, 80, 0.6);
  text-align: justify;
  margin-bottom: 1.5rem;

}

.checkingBorder{
  background-color: chartreuse;
  width: 300px;
  height: 400px;
  padding-bottom: 7rem;
  border-style: solid;
  border-width: 10px;
  border-image: url(./assets/DNA01.png) 40 round;
}


div {
  text-align: center;
}

div > h1 {
  color: rgb(255, 252, 170);
  text-align: center;
  text-shadow: -5px -5px 15px rgb(77, 77, 77), 5px 5px 15px rgb(55, 55, 55);
}

.textBackground{
  text-shadow: -8px -8px 10px rgb(15, 44, 80), 8px 8px 10px rgb(15, 44, 80), -10px 8px 10px rgb(15, 44, 80), 8px -10px 10px rgb(15, 44, 80) ;
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
  background-color: rgba(15, 44, 80, 0.6);
  text-align: center;
  max-width: fit-content;
  display: flex;
}

.textBackground > h4{
  padding-left: 1rem;
  padding-right: 2rem;
  padding-bottom: 0.7rem;
  margin-bottom: 1rem;
}

.textBackground > i{
  padding: 0;
}

/* Styling Navigation Buttons START */
button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(247, 250, 255);
  background-color: rgb(16, 65, 124);
  border-radius: 10px;
  margin: 0.3rem;
  padding: 0.1rem 0.2rem 0rem 0.1rem;
  font-size: 1.4rem;
  font-weight: 800;
  text-align: center;
}

button:hover {
  color: rgb(153, 155, 160);
  box-shadow: -5px -5px 20px rgb(245, 247, 211), 5px 5px 20px rgb(245, 247, 211);
  background-color: rgb(178, 240, 78);
  cursor: grabbing;
}

button:active {
  color: rgb(11, 74, 11);
  background-color: rgb(160, 255, 250);
}

.uploadButton{
  margin-left: 3rem;
  font-size: 1.1rem;
  padding: 5px;
}

.uploadButton:hover{
  color: rgb(153, 155, 160);
  box-shadow: -5px -5px 20px rgb(245, 247, 211), 5px 5px 20px rgb(245, 247, 211);
  background-color: rgb(245, 204, 42);
  cursor: grabbing;
}
.uploadButton::after{
  background-color: chartreuse;
}


/* info panels css */

.infoPanels{
  text-align: center;
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.paragraph > h3{
  text-align: left;
}

.gameName{
  font-size: 1.2rem;
  text-shadow: -1px -1px 10px rgb(24, 24, 24);

}

.authorName{
  font-size: 1.2rem;
  text-shadow: -1px -1px 10px rgb(24, 24, 24);
}

.uploadFile{
  width: 100%;
  font-size: 1.2rem;
  text-shadow: -1px -1px 10px rgb(24, 24, 24);
}

.form2{
  font-size: 1.2rem;
  display: flex;
  font-size: 1.5rem;
}
button h2 {
  padding: 0rem 0.5rem;
  font-size: 2rem;
}

/* Styling Navigation Buttons END */

/* Styling Navigation START */

.link {
  color: rgb(247, 250, 255);
  background-color: rgb(16, 65, 124);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  border: 2px solid rgb(66, 124, 196);
  padding: 8px 15px 10px;
  margin: 0 1.6rem;
  display: inline-block;
  border-radius: 0% 50% 0% 50%;
  text-align: end;
  box-shadow: inset -2px -3px 4px rgba(18, 18, 18, 0.5),
    inset 3px 4px 5px rgba(95, 140, 194, 0.8);
    
}

.link:hover {
  color: rgb(13, 50, 95);
  background-color: rgb(107, 162, 228);
  cursor: -webkit-grabbing;
  box-shadow: -5px -5px 8px rgb(160, 228, 249), 5px 5px 15px rgb(245, 247, 211),
    inset -2px -3px 4px rgba(13, 58, 15, 0.5),
    inset 3px 4px 5px rgba(172, 189, 235, 0.8);
}

.link:active {
  color: rgb(13, 50, 95);
  background-color: rgb(172, 206, 248);
  cursor: -webkit-pointer;
}

.a:after{
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 50%;
  height: 35%;
  background: linear-gradient(
    -90deg,
    rgba(239, 244, 196, 0.7),
    rgba(241, 235, 235, 0)
  );
}

.NavBarContainer {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 1.8rem 0.1rem 4rem 0.1rem;
  margin: 0;
  background-color: rgb(15, 44, 80);
  position: fixed;
  margin-bottom: 1rem;
  width: 100%;
  height: 5rem;
  font-size: 1.2rem;
  z-index: 0;
  /*   z-index: 10;  */
}

/* Styling Navigation END */

/* contact form  START */
.form {
  display: flex;
  font-size: 1.5rem;
  /* background-color: chartreuse; */
  align-content: center;
  justify-content: space-between;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin: 8px 0;
  border: 1px solid rgb(252, 255, 72);
  border-radius: 4px;
}
textarea {
  width: 100%;
  padding: 0.5rem;
  margin: 8px 0;
  border: 1px solid rgb(252, 255, 72);
  border-radius: 4px;
}
label {
  padding: 0.5rem;
}
.nameInput {
  border-radius: 20px;
  display: flex;
  justify-items: flex-end;
}
.nameInput > textarea {
  display: flex;

  align-items: flex-end;
}

.emailAddress {
  display: flex;
  text-shadow: -1px -1px 10px rgb(24, 24, 24);
}
.contactMessage {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-shadow: -1px -1px 10px rgb(24, 24, 24);
  /* padding: 0.3rem; */
}
.msgText {
  align-content: flex-end;
  left: 0px;
  top: 0px;
  text-shadow: -1px -1px 10px rgb(24, 24, 24);
}
.formButton {
  display: flex;
  font-family: "Share Tech Mono", monospace;
  padding: 0rem 0.5rem;
  font-size: 1.5rem;
}

.buttonDiv {
  
  align-content: flex-start;
  padding-left: 16rem;
}
/* contact form  END */





/* Footer styling */

/* .keepFooterDown {
  width: 2rem;
  height: 30vh;
} */

.footerMainDiv {
  bottom: 0;
  left: 0;
  margin-bottom: 20px;
  position: fixed;
  width: 100%;
  height: 5rem;
 
  align-items: center;
  /* justify-content: center; */
  display: flex;
  flex-direction: row;
  background-size: 100%;
  padding: 1.2rem 0.5rem 1rem 0.5rem;
  margin-bottom: 0;
  background-color: rgb(15, 44, 80);
  z-index: 2;
}
.footerMainDiv {
display:flex;
}

.textFooter {
 
  font-size: 1.5rem;
  padding: 1rem 0rem 0.1rem 0rem;
  margin: 0;
}

.textFooter,
h5,
h6 {
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0;
}

.socialMedia {
  width: 100%;
  /* padding: 0; */
  padding-left: 1rem;
  padding-top: 0.5;
  margin: 0;
  padding-bottom: 1rem;
}

i {
  /* padding-top: 0.5rem ;
  padding-bottom: 1rem; */
  padding: 0;
  font-size: 2rem;
  background-color: rgb(160, 103, 32, 0);

}

i:hover {
  text-shadow: -2px -2px 10px rgb(247, 211, 211), 2px 2px 10px rgb(245, 247, 211);
  
}

.fa-flask {
color: rgb(24, 209, 223);
}

.fa-flask:hover{
  box-shadow: none;
  text-shadow: -2px -2px 10px rgb(228, 254, 0), 2px 2px 10px rgb(245, 247, 211);
}

a {
 
  padding: 0.8rem  0.5rem  2rem  0.5rem;
  /* padding-bottom: 1rem; */
  color: rgb(248, 254, 217);
}
/* Footer styling  END*/

.pageHead {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    padding-top: 4rem;
    padding-bottom: 5rem;
   
}



/* game post button */
.postNewGame{
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.postNewGame > button {
  padding: 0.5rem;
}

.postNewGame > button:hover {
  background-color: rgb(124, 16, 115);
  padding: 0.5rem;
  box-shadow: -5px -5px 20px rgb(243, 220, 170), 5px 5px 20px rgb(245, 247, 211);
  
}

.postButton{
  padding: 0.5rem;
}

.postButton:hover{
  color: rgb(243, 169, 237);
  box-shadow: -5px -5px 20px rgb(125, 240, 115), 5px 5px 20px rgb(125, 240, 115);
  background-color: rgb(180, 9, 166);
}

button:hover {
  box-shadow: -5px -5px 20px rgb(245, 247, 211), 5px 5px 20px rgb(245, 247, 211);
  background-color: rgb(178, 240, 78);
  cursor: grabbing;
}

button:active {
  color: rgb(11, 74, 11);
  background-color: rgb(242, 255, 160);
}


 

.spacer{
  width: 100%;
  height: 4rem;
}

/* spinning mandala */
.homePage{
  padding-top: 3.6rem;
  padding-right: 2rem;
  padding-bottom: 6rem;
 
}
.mandala {
  align-items: center;
  justify-items: center;
  position: relative;
  /* margin-left: 41vw; */
  /* position: absolute; */
  height: 8rem;
  width: 8rem;
  background-size: 100%;
  background-image: url("./assets/organelleMandala-small.png");
  background-repeat: no-repeat;
  animation: spin 20s linear infinite;
  z-index: 10;
  
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
/* spinner */
.bouncer {
  
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
 
  width: 100%;
  height: 60px;
  top:20%;
  left:20%;
  transform-origin: 50% 50%;
 
}

/* .bouncer {
  animation: rotate 60s infinite linear;
} */
@keyframes rotate {
  100% {
    transform: rotateZ(-360deg);
  }
}

.bouncer div {
  width: 30px;
  height: 30px;
  background-color: rgb(39, 155, 66);
  border-radius: 50%;
  animation: bouncer 0.8s cubic-bezier(0.50, 0.5, 0.3, 0.9) infinite alternate;
  bottom: 1rem;
  box-shadow: inset -2px -3px 4px rgba(18, 18, 18, 0.3);
  justify-self: center;
  z-index: 4;
}

.bouncer div::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 50%;
  height: 35%;
  transform: rotate(-45deg);
  background: linear-gradient(
    190deg,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0)
  );
  border-radius: 50%;
}

@keyframes bouncer {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-30px);
  }
}

.bouncer div:nth-child(1) {
  background-color: rgb(70, 175, 25);
  animation-delay: 0.1s;
}
.bouncer div:nth-child(2) {
  background-color: rgb(254, 227, 24);
  animation-delay: 0.2s;
}
.bouncer div:nth-child(3) {
  background-color: rgb(252, 6, 6);
  animation-delay: 0.3s;
}
.bouncer div:nth-child(4) {
  background-color: rgb(252, 141, 6);
  animation-delay: 0.4s;
}
.bouncer div:nth-child(5) {
  background-color: rgb(6, 158, 252);
  animation-delay: 0.5s;
}
.bouncer div:nth-child(6) {
  background-color: rgb(254, 227, 24);
  animation-delay: 0.6s;
}
.bouncer div:nth-child(7) {
  background-color: rgb(252, 6, 6);
  animation-delay: 0.6s;
}
.bouncer div:nth-child(8) {
  background-color: rgb(252, 141, 6);
  animation-delay: 0.8s;
}
.bouncer div:nth-child(9) {
  background-color: rgb(6, 158, 252);
  animation-delay: 0.9s;
}
.bouncer div:nth-child(10) {
  background-color: rgb(252, 141, 6);
  animation-delay: 1s;
}
.bouncer div:nth-child(11) {
  background-color: rgb(6, 158, 252);
  animation-delay: 1.1s;
}
.bouncer div:nth-child(12) {
  background-color: rgb(12, 216, 29);
  animation-delay: 1.2s;
}
.bouncer div:nth-child(13) {
  background-color: rgb(254, 227, 24);
  animation-delay: 1.3s;
}
.bouncer div:nth-child(14) {
  background-color: rgb(252, 6, 6);
  animation-delay: 1.4s;
}
.bouncer div:nth-child(15) {
  background-color: rgb(252, 141, 6);
  animation-delay: 1.5s;
}
.bouncer div:nth-child(16) {
  background-color: rgb(6, 158, 252);
  animation-delay: 1.6s;
}
.bouncer div:nth-child(17) {
  background-color: rgb(252, 141, 6);
  animation-delay: 1.7s;
}
.bouncer div:nth-child(18) {
  background-color: rgb(6, 158, 252);
  animation-delay: 1.8s;
}
.bouncer div:nth-child(19) {
  background-color: rgb(254, 227, 24);
  animation-delay: 1.9s;
}
.bouncer div:nth-child(20) {
  background-color: rgb(252, 141, 6);
  animation-delay: 2s;
}
/* spinner 2 */
.bouncer2 {
  
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
 
  width: 100%;
  height: 60px;
  top:20%;
  left:20%;
  transform-origin: 50% 50%;
  z-index: 5;
}

/* .bouncer {
  animation: rotate 60s infinite linear;
} */
  
.bouncer2 div {
  width: 30px;
  height: 30px;
  background-color: rgb(39, 155, 66);
  border-radius: 50%;
  /* animation: bouncer 1s cubic-bezier(0.18, 0.5, 0.3, 0.9) infinite alternate; */
  animation: bouncer 0.8s  infinite cubic-bezier(0.50, 0.5, 0.3, 0.9)alternate;
  bottom: 1rem;
  box-shadow: inset -2px -3px 4px rgba(18, 18, 18, 0.3);
  justify-self: center;
}

.bouncer2 div::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 50%;
  height: 35%;
  transform: rotate(-45deg);
  background: linear-gradient(
    190deg,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0)
  );
  border-radius: 50%;
}

@keyframes bouncer {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-30px);
  }
}
.bouncer2 div:nth-child(1) {
  background-color: rgb(70, 175, 25);
  animation-delay: 1s;
}
.bouncer2 div:nth-child(2) {
  background-color: rgb(254, 227, 24);
  animation-delay: 1.1s;
}
.bouncer2 div:nth-child(3) {
  background-color: rgb(252, 6, 6);
  animation-delay: 1.2s;
}
.bouncer2 div:nth-child(4) {
  background-color: rgb(252, 141, 6);
  animation-delay: 1.3s;
}
.bouncer2 div:nth-child(5) {
  background-color: rgb(6, 158, 252);
  animation-delay: 1.4s;
}
.bouncer2 div:nth-child(6) {
  background-color: rgb(254, 227, 24);
  animation-delay: 1.5s;
}
.bouncer2 div:nth-child(7) {
  background-color: rgb(252, 6, 6);
  animation-delay: 1.6s;
}
.bouncer2 div:nth-child(8) {
  background-color: rgb(252, 141, 6);
  animation-delay: 1.7s;
}
.bouncer2 div:nth-child(9) {
  background-color: rgb(6, 158, 252);
  animation-delay: 1.8s;
}
.bouncer2 div:nth-child(10) {
  background-color: rgb(252, 141, 6);
  animation-delay: 1.9s;
}
.bouncer2 div:nth-child(11) {
  background-color: rgb(6, 158, 252);
  animation-delay: 2s;
}
.bouncer2 div:nth-child(12) {
  background-color: rgb(12, 216, 29);
  animation-delay: 2.1s;
}
.bouncer2 div:nth-child(13) {
  background-color: rgb(254, 227, 24);
  animation-delay: 2.2s;
}
.bouncer2 div:nth-child(14) {
  background-color: rgb(252, 6, 6);
  animation-delay: 2.3s;
}
.bouncer2 div:nth-child(15) {
  background-color: rgb(252, 141, 6);
  animation-delay: 2.4s;
}
.bouncer2 div:nth-child(16) {
  background-color: rgb(6, 158, 252);
  animation-delay: 2.5s;
}
.bouncer2 div:nth-child(17) {
  background-color: rgb(252, 141, 6);
  animation-delay: 2.6s;
}
.bouncer2 div:nth-child(18) {
  background-color: rgb(6, 158, 252);
  animation-delay: 2.7s;
}
.bouncer2 div:nth-child(19) {
  background-color: rgb(254, 227, 24);
  animation-delay: 2.8s;
}
.bouncer2 div:nth-child(20) {
  background-color: rgb(252, 141, 6);
  animation-delay: 2.9s;
}

.mainBouncerDiv{
  /* background-color: rgba(189, 73, 31, 0.5); */
  width: 80%;
  height: 100%;
  position: relative;
  
}

iframe{
   
  height: 65vh;
  width: 60vh;
  /* border:none; */
  overflow: hidden;
  border-width: 5px;
  /* border-color: rgb(166, 214, 245); */
   
}

.oneGameFrame{
  height: 65vh;
  width: 58vh;
  border-radius: 10px;
  overflow: hidden;
  border-width: 5px;
  border-color: rgb(36, 219, 243);
  background-color: rgb(36, 219, 243);
}

.gamesContainer{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  /* justify-content: space-between; */
  /* background-color: cyan; */
}

/* .displayGames{
  padding-top: 0.2rem;
  display: flex;
  flex-direction: column;
 
} */

.gameDisplayPadding{
  padding: 0.6rem;
  flex: 1;
  /* align-content: center;
  height: 100%;
  align-content: space-around; */
  /* flex-grow: 2; */
 
}

#allFrames{
  /* /* width: 100%; */
  /* height: 22rem;  */
  /* border-style: none; */
  height: 100%;
  width: 100%;
  border-radius: 20px;
  /* overflow: hidden; */
  border-width: 6px;
  border-color: rgb(36, 219, 243);
  background-color: rgb(36, 219, 243);
  pointer-events: none;
}
/* iframe as a tumbnail */
.iframeDiv{
  height: 195px;
  width:170px;
  /* background-color: rgb(5, 42, 87); */
  /* overflow: hidden; */

  resize: both;
}

/* Scores for each game */
.leaderBoard{
  margin:0;
  padding: 0;
  /* background-color: darkblue; */
  /* position: relative; */
}
.scoreDisplay{
  border:5px;
  border-color: blanchedalmond;
  border-radius: 20px;
  /* position: absolute;
  top: 20vh;
  left: 20vw; */
  height: 50%;
  overflow: scroll;
  margin-top: 1rem;
  margin-bottom: 3rem;
  width: 70vw;
  display: flex;
  flex-direction: column;
  background-color: cornsilk;
  /* position: absolute; */
  /* justify-items: flex-end; */
  /* align-content: flex-end; */
  

}
.tableTitle{
  font-size: 1.4rem;
  font-weight: 600;
  color: rgb(255, 174, 0);
  display: flex;
  width: 100%;
  flex-grow: 1;
  justify-items: center;
  background-color: rgb(50, 46, 53);
  /* justify-content: space-between;
  justify-self: flex-end; */
}
.scores{
  color: rgb(222, 97, 238);
  font-size: 1.2rem;
  width: 100%;
  display: flex;
  flex-grow: 1;
  background-color: rgb(27, 26, 26);
  align-items: baseline;
  text-align: justify;
}

/* media query */

