@media screen and (max-width: 660px) {

    p {
      font-size: 1rem;
      /* max-width: 30rem; */
    }
  
    .paragraph{
      max-width: 100vh;
    }
  
    h1{
      font-size: 1.5rem;
    }
    button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: rgb(247, 250, 255);
      background-color: rgb(16, 65, 124);
      border-radius: 7px;
      margin: 0.3rem;
      padding: 0.1rem 0.2rem 0rem 0.1rem;
      font-size: 1rem;
      font-weight: 600;
      text-align: center;
    }
    
    button:hover {
      color: rgb(153, 155, 160);
      box-shadow: -5px -5px 20px rgb(245, 247, 211), 5px 5px 20px rgb(245, 247, 211);
      background-color: rgb(178, 240, 78);
      cursor: grabbing;
    }
    
    button:active {
      color: rgb(11, 74, 11);
      background-color: rgb(242, 255, 160);
    }
  
    label {
      padding: 0.3rem;
      font-size: 1.5rem;
      background-color: rgb(16, 65, 124, 0.5);
    }
  
    .pageHead{
      padding: 0;
      padding-top: 2rem;
      height: 75%;
      padding-bottom: 5rem;
    }
  
    .leaderBoard{
      padding-bottom: 4rem;
      padding-top: 0;
      margin-top: 0;
    }
  
    .NavBarContainer {
      padding: 1.2rem 0.1rem 1rem 0.1rem;
      margin: 0;
      position: fixed;
      width: 100%;
      height: 4.5rem;
      
    }
    .homePage{
      padding-top: 3rem;
      padding-right: 0.6rem;
    }
  
    .mandala {
      height: 5rem;
      width: 5em;
      margin-right: 44vw;
    }
  
    .link {
      
      background-color: rgb(124, 16, 115);
      font-weight: bold;
      font-size: 1rem;
      border: 2px solid rgb(66, 124, 196);
      padding: 5px 10px 7px;
      margin: 0 0.5rem;
      border-radius: 0% 50% 0% 50%;
      text-align: end;
   
    }
    
    /* footer styles */
  
    .footerMainDiv {
  
      height: 3.5rem;
      align-items: center;
      /* justify-content: center; */
      display: flex;
      flex-direction: row;
      padding: 1rem 0.3rem 0.7rem 0.3rem;
      
  
    }
   
    .textFooter {
     
      font-size: 1rem;
      font-weight: 200;
      padding: 0rem 0rem 0rem 0rem;
      
      
    }
    
    .textFooter,
    h5,
    h6 {
      padding-right: 0;
      width: 100%;
      margin: 0;
      padding-bottom: 0;
    }
    
    .socialMedia {
      width: 100%;
      /* padding: 0; */
      font-size: 1.3rem;
      padding-left: 0.3rem;
      padding-top: 0;
      padding-bottom: 1.3rem;
      margin: 0;
    }
    a {
      padding: 0.5rem;
    }
    i {
      font-size: 1.1rem;
    }
   
    h5{
      padding-bottom: 1rem;
      padding-left: 0.3rem;
      padding-right: 0rem;
      padding-top: 0.7rem;
    }
    h6 {
      color:rgba(27, 27, 201, 0);
      text-shadow: rgba(58, 95, 95, 0);
    }
    .oneGameFrame{
      /* height: auto; */
      width: 96vw;
      border-radius: 0px;
      overflow: hidden;
      border-width: 0;
      background-color: rgba(30, 68, 73, 0);
      /* border-color: rgb(139, 19, 119); */
    }
  
  
  
  }

  @media screen and (max-width: 590px) {
    .homePage{
      padding-top: 3rem;
      padding-right: 0rem;
    }
    .mandala {
        height: 5rem;
        width: 5em;
        margin-right: 44vw;
      }
  
  }
  
   
  @media screen and (max-width: 460px) {
    .homePage{
      padding-top: 3rem;
      padding-right: 0rem;
    }
    .mandala {
        height: 5rem;
        width: 5em;
        margin-right: 43vw;
      }
  }

  @media screen and (max-width: 360px) {
    .homePage{
      padding-top: 3rem;
      padding-right: 0rem;
    }
    .mandala {
        height: 5rem;
        width: 5em;
        margin-right: 42vw;
      }
  }
  
  @media screen and (max-width: 1400px){
  
  }